@import './base.css';
/* loading design*/
.loader-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}
.loader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 5px #000;
    border-bottom-color: transparent;
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.active{/* when the data is still loading it will activate the loading circle
    by adding active class to the loader-container class and when the data loaded
    successfull it will stop the activation */
    display: flex;
}
/*navbar design*/
body{
    background-color: #F8FAFC;
}
.category, .product{
    background-color: #fff;
    width : 25%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}
.header{
    background-color: #D9EAFD;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 0px;
    position: sticky;
    top: 0;
}
img {
    width: 35px;
}
.header .logo a {
    color: var(--mainColor);
}

.menue {
    display: none;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.navbar ul li a {
    color: #101928;
}

.navbar ul li .activate {
    font-weight: 800;
}

.athentications {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.athentications a {
    border-radius: 10px;
    padding: 5.3px 30.1px;
    font-weight: 700;
    font-family: var(--subFont)
}

.athentications .login {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}

.athentications .register {
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
    color: #000;
}
.scrollNavbar{
    background-color: #9AA6B2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
/* body design */
.categories h2{
    text-align: center;
    padding: 30px 0px;
}
.products h2{
    text-align: center;
    padding: 30px 0px;
}
.products img{
    width: 100px;
}
.product .price-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}
.product .price-discount span:first-of-type{
    color: green;
}
.product .price-discount span:last-of-type{
    color: crimson;
}
.product a{
   color: #000; 
}
/* pagination style*/
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}
/* ramadan count down design */
.countDown{
    background-color: #f4f4ff;
    text-align: center;
    padding: 30px 0px;
}
.countDown-timer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.time { 
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
/*My Modal*/
.my-modal{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-modal .myImage{
    position: relative;
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.my-modal img {
    width: 400px;
}
.right-btn, .left-btn, .close-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;/*change the shape of mouse pointer when its on theses parts*/
}
.right-btn{
    right: 10px;
    top: 50%;
}
.left-btn{
    left: 10px;
    top: 50%;
}
.close-btn{
    top: 10px;
    right: 10px;
}
.d-none{/*class to close my domal from the screen*/
    display: none;
}

/*for product details page*/
.product-details{
    margin-top: 50px;
}
.product-details .detailsPart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #A6AEBF;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.product-details .picture{
    padding: 50px;
}
.product-details .picture img{
    width: 500px;
    height: 400px;
}
.product-details .details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: medium;
    color: #000;
    background-color: #B0B7C8;
    border-radius: 30px;
    padding: 60px 17px;
    margin-right: 50px;
}
